@font-face {
    font-family: norse-bold;
    src: url(/fonts/Norse-Bold.otf);
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    height: 750px;
}

.logo-container {
    background-color: slategray;
    flex: 0 0 400px;
    height: 750px;
    background-image: url("images/leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-background {
    font-family: norse-bold;
    background-color: black;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 140px;
    height: 115px;
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
}

#odin-logo { 
    width: 70px;
}

.logo-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content-container {
    background-color: seashell;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 750px;
}

.content-form {
    background-color: white;
    padding-left: 40px;
    padding-right: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-text {
    padding-left: 40px;
    padding-right: 120px;
    font-weight: bold;
    font-size: 1;
}

input {
    margin: 0px 30px 24px 0px;
}

label {
    display: block;
    font-size: 9px;
    font-weight: bold;
}

form {
    max-width: 460px;
    display: flex;
    justify-content: space-between;
}